html {
  
    margin: 0;
    padding: 0;
 }
body {
    margin: 0;
    padding: 0;
    background-color: #28385b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: arial;
    height: auto;
}
nav {
    background: transparent;
    backdrop-filter: blur(28px);
    box-shadow: 8px 0 10px #555555;
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}
nav ul {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 0.7rem;
    list-style: none;
    margin-right: 10px;
    margin-left: 1px;
    transition: transform 1s ease;
}
nav div img {
    width: 40px;
   margin: 0 5px;
}
nav ul a {
    text-decoration: none;
    font-family: "Times New Roman", arial;
    color: white;
    font-weight: bold;
    padding: 1px 0;
    margin: 0 1rem;
}
nav ul a:hover {
    color: red;
    transition: color 0.3s ease-in-out;
}
.logo {
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-family: "Times New Roman";
}
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(20px);
    color: lightgray;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 10px;
    font-family: arial;
}
.dropdown {
    max-width: max-content;
}
.dropdown .pro {
    background-color: transparent;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    font-family: "Times New Roman";
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

.dropdown ul {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    background-color: #2d3a51;
    list-style: none;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
}
.dropdown li a {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    margin:0;
}

.dropdown .pro:hover ~ ul,
ul:hover {
    opacity: 1;
    visibility: visible;
}
.dropdown a:hover {
    border-bottom: none;
    color: red;
    background-color: #2d3a51;
}
.icon {
    font-size: 25px;
    display: none;
}
@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        padding: 0 0.8rem;
    }
    nav ul {
      display: none;
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        margin: 0.7rem 0;
    }
    .hidden.active{
     display: flex;
    
    }
    .icon {
        display: flex;
        align-items: center;
    }
    .tentangteks {
      text-align: center;
    }
}
.beranda {
    justify-content: flex-start;
    font-family: "nexa";
    width: 100%;
}
.beranda p {
    font-size: 9px;
    font-family: 'rbt';
    margin: 0;
}
.beranda1 {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 1vh;
    padding: 3vh;
    box-sizing: border-box;
    height: 40vh;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px black;
    font-family: 'rbt';
}
.container {
    flex-wrap: wrap;
    margin-top: 5vh;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.product {
    padding: 30px;
    margin: 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px #bebebe;
    text-align: center;
    max-width: 300px;
    max-height: 600px;
   flex-wrap: wrap;
   word-wrap: break-word;
}
.product:hover {
  transform:scale(0.95);
   transition: all 0.1s ;
}
.product img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}
.Harga {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #f24e00;
    margin: 10px 0;
}
.product p {
    text-align: left;
}
.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}
 
  .loginhome {
    border: none;
    background-color: #3135cb;
    border-radius: 6px;
    cursor: pointer;
    animation: bounce 3s infinite;
    box-shadow: 0 0 4px 0.2px inset #eaeaea;
    padding: 6px 12px;
  }
  @keyframes bounce {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
  }
  .loginhome a {
    text-decoration: none;
    color: white;
    font-family: 'nexa';
    font-weight: bold;
    font-size: 12px;
  }
 .loginhome:hover {
   color: #000000;
   background-color: white;
   box-shadow: 0 0 8px 4px #3135cb;
 }
 .loginhome a:hover {
  color: #000000;
 }
  .about {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    justify-content: center;
    padding: 1rem ;
    font-size: 1.2vh;
    color: white;
    margin: 1rem;
    align-items: center;
    
  }
  .about img {
    width: 200px;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
    
  }
  .about h2 {
    font-size: 22px;
    font-family: 'nama',arial;
    margin: 0;
  }
  .about p {
    font-size: 10px;
  }
  .tentangteks {
    padding: 30px;
    margin: 20px;
    margin: 0.1rem;
    max-width: 400px;
  }
  @font-face {
    font-family : 'nama';
    src: url('aed.otf');
  }
  .kontak {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 1rem ;
    font-size: 14px;
    color: white;
    margin: 1rem;
    align-items: center;
  }
  .kontak-konten {
    padding: 25px;
    margin: 20px;
    margin: 0.1rem;
   max-width: 400px;
    flex-wrap: wrap;
   word-wrap: break-word;
  }
 .form{
   font-family: Monospace;
   display: flex;
   flex-direction: column;
 }
 #kontak {
   text-align: center;
   background: transparent;
   border-radius: 10px;
   margin-bottom: 4vh;
  
 }
 .kontak-konten a {
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #f3f3f3;
   margin: 1vh;
   font-family: Times New Roman;
   font-size: 11px;
 }
 .kontak-konten a img {
   width: 2vh;
 }
 .kon {
   border: none;
   border-bottom:1.2px solid #f4f4f4;
   margin: 18px 0;
   background: transparent;
   color: white;
 }
 .medsos {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   word-wrap: break-word;
 }
 .kon:hover {
   border: none;
 }
 .product p {
   background-color: #e6e6e6;
   border-radius: 8px;
   color: #585858;
   padding: 1vh;
   text-align: left;
   margin-bottom: 2vh;
   font-size: 12px;
   box-shadow: inset 0 1px 10px #bebebe;
   
 }
 .cardcont {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: transparent;
 }
 .card {
   max-width: 160px;
   max-height: 220px;
   background-color: #e9e9e9;
   color: black;
   border-radius: 7px;
   overflow: hidden;
   margin: 1rem;
   height: auto;
   flex-wrap: wrap;
   word-wrap: break-word;
 }
 .card:hover {
   transform:scale(0.95);
   transition: all 0.1s ;
 }
 .card img {
   width: 100%;
   height: 40%;
 }
 .card-content {
   padding: 15px;
   font-family: 'rbt';
 }
 .card-content h3 {
   font-size: 12px;
   margin-bottom: 0.2rem;
   margin-top: 0;
   font-family: 'nexa';
 }
 .card-content p {
   font-size: 9px;
   color: #a4a4a4;
   line-height: 1.3;
 }
 @font-face {
   font-family: 'nexa';
   src: url('nex.ttf');
 }
  @font-face {
   font-family: 'rbt';
   src: url('roboto.ttf');
   }
 